.brdr {
  border-left: 5px solid red;
  border-top: 5px solid cyan;
  border-bottom: 5px solid rgb(224, 239, 19);
  border-right: 5px solid rgb(225, 255, 0);
}

@media screen and (max-width: 645px) {
  .select_bar {
    display: none;
  }
  .btn_box {
    display: none;
  }
  .search_bar {
    display: none;
  }
}
