.brdr {
  border-left: 3px solid red;
  border-top: 3px solid cyan;
  border-bottom: 3px solid rgb(224, 239, 19);
  border-right: 3px solid rgb(225, 255, 0);
}

/* @media screen and (max-width: 645px) {
  .select_bar {
    display: none;
  }
  .btn_box {
    display: none;
  }
  .search_bar {
    display: none;
  }
} */

